<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>친구1</key>
	<string>0294785690438</string>
	<key>친구2</key>
	<string>239405072349857</string>
	<key>친구3</key>
	<string>345634563456</string>
</dict>
</plist>
