<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>신난다</string>
		<key>phoneNumber</key>
		<string>1</string>
	</dict>
    <dict>
        <key>name</key>
        <string>재미난다</string>
        <key>phoneNumber</key>
        <string>2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>더 게임</string>
        <key>phoneNumber</key>
        <string>3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>오브 데</string>
        <key>phoneNumber</key>
        <string>4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>스</string>
        <key>phoneNumber</key>
        <string>5</string>
    </dict>
    <dict>
        <key>name</key>
        <string>투</string>
        <key>phoneNumber</key>
        <string>6</string>
    </dict>
    <dict>
        <key>name</key>
        <string>신난다</string>
        <key>phoneNumber</key>
        <string>1</string>
    </dict>
    <dict>
        <key>name</key>
        <string>재미난다</string>
        <key>phoneNumber</key>
        <string>2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>더 게임</string>
        <key>phoneNumber</key>
        <string>3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>오브 데</string>
        <key>phoneNumber</key>
        <string>4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>스</string>
        <key>phoneNumber</key>
        <string>5</string>
    </dict>
    <dict>
        <key>name</key>
        <string>투</string>
        <key>phoneNumber</key>
        <string>6</string>
    </dict>
    <dict>
        <key>name</key>
        <string>신난다</string>
        <key>phoneNumber</key>
        <string>1</string>
    </dict>
    <dict>
        <key>name</key>
        <string>재미난다</string>
        <key>phoneNumber</key>
        <string>2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>더 게임</string>
        <key>phoneNumber</key>
        <string>3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>오브 데</string>
        <key>phoneNumber</key>
        <string>4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>스</string>
        <key>phoneNumber</key>
        <string>5</string>
    </dict>
    <dict>
        <key>name</key>
        <string>투</string>
        <key>phoneNumber</key>
        <string>6</string>
    </dict>
    <dict>
        <key>name</key>
        <string>신난다</string>
        <key>phoneNumber</key>
        <string>1</string>
    </dict>
    <dict>
        <key>name</key>
        <string>재미난다</string>
        <key>phoneNumber</key>
        <string>2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>더 게임</string>
        <key>phoneNumber</key>
        <string>3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>오브 데</string>
        <key>phoneNumber</key>
        <string>4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>스</string>
        <key>phoneNumber</key>
        <string>5</string>
    </dict>
    <dict>
        <key>name</key>
        <string>투</string>
        <key>phoneNumber</key>
        <string>6</string>
    </dict>
</array>
</plist>
